<header>
    <div>
        <h1>Todo list application</h1>
        <div id="theme-div">
            <p> Change Theme </p>
            <select>

                <option value="light" selected>Light</option>
                <option value="dark">Dark</option>

            </select>
        </div>
    </div>
</header>