:root {
    --dark-primary: black;
    --dark-secondary: #333;
    --light-primary: white;
    --light-secondary: #f3f3f3;
    --color-light-primary: rgb(255, 145, 55);
    --color-light-secondary: rgb(129, 255, 215);
    --color-dark-primary: rgb(65, 16, 118);
    --color-dark-secondary: rgb(0, 47, 39);
}

/* THEME */
.dark {
    --dark-primary: white;
    --dark-secondary: #f3f3f3;
    --light-primary: black;
    --light-secondary: #333;
    --color-light-primary: rgb(255, 145, 55);
    --color-light-secondary: rgb(129, 255, 215);
    --color-dark-primary: rgb(65, 16, 118);
    --color-dark-secondary: rgb(0, 47, 39);
}

/* general styling */
body {
    background-color: var(--light-secondary);
}

main {
    padding: 3rem 1rem;
    padding-top: 6rem;
}

section {
    margin: 1rem;
}

li {
    list-style: none;
}

button:hover,
a:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* styling add task section */

#add-task form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    background-color: var(--light-secondary);
}
#add-task form > * {
    width: 80%;
}

#add-task .input-div input,
#add-task .input-div select {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    border: none;
    color: var(--dark-secondary);
    font-weight: bold;
    background-color: var(--light-primary);
}
input::-webkit-input-placeholder {
    color: var(--dark-secondary);
    font-weight: bold;
}

#add-task .input-div {
    height: 3rem;
    margin: 1rem 0;
    position: relative;
    border-top: 0.1rem var(--dark-secondary) solid;
}
#add-task .input-div label {
    position: absolute;
    color: var(--dark-primary);
    font-size: 0.8rem;
    left: 1rem;
    top: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

#add-task .input-small-container {
    display: flex;
}
#add-task .input-small-container .input-div:nth-child(1) {
    border-right: 0.01rem var(--dark-secondary) solid;
}

#add-task .input-small-container .input-div {
    width: 50%;
}
#add-task .buttons-div {
    display: flex;
    justify-content: space-between;
}
#add-task button {
    width: 10rem;
    height: 2rem;
    border: none;
    background-color: var(--color-dark-primary);
    color: white;
    font-size: 1rem;
    width: 40%;
}

#add-task button:nth-child(2) {
    background-color: red;
}

/* Tasks List style */
#task-list li {
    border-top: 0.01rem var(--dark-secondary) solid;
    margin: 0.5rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--dark-primary);
}
#task-list li .task-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#task-list li .task-description p:nth-child(1) {
    margin-bottom: 0.2rem;
}

#task-list li > a,
#task-list li > p {
    width: 4.5rem;
    text-align: center;
}
#task-list li > a {
    background-color: red;
    color: white;
    padding: 0.3rem;
    font-size: 0.9rem;
    text-decoration: none;
}
#task-list li > p {
    padding: 0.3rem;
    font-size: 0.9rem;
    color: white;
    text-transform: capitalize;
}

.personal {
    background-color: rgb(117, 14, 0);
}
.work {
    background-color: rgb(95, 95, 0);
}
.school {
    background-color: rgb(13, 78, 0);
}
.cleaning {
    background-color: rgb(0, 47, 76);
}
.other {
    background-color: rgb(74, 0, 67);
}

@media screen and (max-width: 600px) {
    #add-task .input-small-container {
        display: flex;
        flex-direction: column;
    }
    #add-task .input-small-container .input-div:nth-child(1) {
        border-right: none;
    }

    #add-task .input-small-container .input-div {
        width: 100%;
    }
}
